<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819222017160-vv5jli0rpkn2gvhik1lg4pnj8dnjs71p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819222017160-vv5jli0rpkn2gvhik1lg4pnj8dnjs71p</string>
	<key>API_KEY</key>
	<string>AIzaSyCkRB_GXQcGh4c2rCafIvC7MPaP5XLAJKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>819222017160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>venture-lab.ventureLabAssistant</string>
	<key>PROJECT_ID</key>
	<string>venturelabab</string>
	<key>STORAGE_BUCKET</key>
	<string>venturelabab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819222017160:ios:ee910c1d6d3a29a8d6db3d</string>
</dict>
</plist>